/* 
    Document   : sign_up
    Created on : Jul 24, 2013, 1:51:11 PM
    Author     : Daryll Santos
    Description:
        Purpose of the stylesheet follows.
*/

#sign-up-form{
    margin-top: 30px;
}

